[submodule "2026-1/Programacao Web 1/Web1Noturno.Andre-JoaoMick-Fillipe"]
	path = 2026-1/Programacao Web 1/Web1Noturno.Andre-JoaoMick-Fillipe
	url = https://github.com/andreDalpra/Web1Noturno.Andre-JoaoMick-Fillipe.git
[submodule "2026-1/Algoritmos e Estruturas de Dados/Trab-Algoritmos_Estruturacao_Dados"]
	path = 2026-1/Algoritmos e Estruturas de Dados/Trab-Algoritmos_Estruturacao_Dados
	url = https://github.com/andreDalpra/Trab-Algoritmos_Estruturacao_Dados.git
